:root {
  --primary-color: #212121;
  --secondary-color: #757575;
  --black-color: #000000;
  --white-color: #ffffff;
  --btn-color: #2196f3;
  --grey-color: #2f303a;
  --sand-color: #f5f4fa;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color);
  background-color: var(--white-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* HEADER */
.header,
.navigation {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--primary-color);
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--black-color);
}
.web-logo {
  color: var(--btn-color);
}
.nav-list .link,
.address-list .link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--primary-color);
}
.nav-list .link.current {
  color: var(--btn-color);
}
.nav-list .link:hover,
.nav-list .link:focus,
.address-list .link:hover,
.address-list .link:focus,
.footer-link .link:hover,
.footer-link .link:focus {
  color: var(--btn-color);
}
.address-list .link {
  color: var(--secondary-color);
}

/* MAIN */
.hero {
  background-color: var(--grey-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--btn-color);
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  color: var(--black-color);
  background-color: var(--white-color);
}
.values-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
}
.values-list {
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
}
.values-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}
.team {
  background-color: var(--sand-color);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}
.member-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}
.member-text {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
/* FOOTER */
.footer,
.footer-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: var(--grey-color);
  font-style: normal;
}
.footer-link .link {
  color: var(--white-color);
  opacity: 0.6;
}
.studio-logo {
  color: var(--white-color);
}
/* PORTFOLIO */
.filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  background-color: var(--sand-color);
  cursor: pointer;
}
.filter-button:focus,
.filter-button:hover {
  color: var(--white-color);
  background-color: var(--btn-color);
}
.examples-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color);
}
.examples-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
